numpy==2.0.2
contourpy==1.3.0
cycler==0.12.1
fonttools==4.60.1
importlib-resources==6.5.2
kiwisolver==1.4.7
matplotlib==3.9.4
msgpack==0.6.2
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
opencv-contrib-python==4.12.0.88
airsimdroneracinglab==1.0.2
packaging==25.0
pillow==11.3.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
scipy==1.13.1
six==1.17.0
tornado==4.5.3
zipp==3.23.0
pynput==1.8.1
airsim==1.8.1
pygame==2.6.1
gymnasium==1.1.1
tensorboard==2.20.0
stable-baselines3==2.7.0
swig==4.4.0
ale-py==0.11.2

### Windows ####
## python 3.9
## --> pip install PyWavelets

## ---> !pip install swig "gymnasium[all]" stable-baselines3[extra] tensorboard ale-py
## For GPu support --> pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

## To interpret the result of training using tensorboard for drone_follow_object_v8 : tensorboard --logdir=logs/single

## To interpret the result of training using tensorboard for airsim_ppo_resilience_impact_v7 : tensorboard --logdir=logs/recovery  

### Ubuntu ####

## python3.12.3
## --> To install in ubuntu virtual environment

sudo apt update
sudo apt install -y build-essential cmake pkg-config \
    libgl1-mesa-dev libosmesa6-dev libglfw3 libglfw3-dev \
    libglew-dev libx11-dev libxrandr-dev libxi-dev libxinerama-dev \
    libxcursor-dev libfreetype6-dev libssl-dev zlib1g-dev \
    libbz2-dev liblzma-dev


pip install --upgrade pip setuptools setuptools_scm wheel build

pip install --no-build-isolation \
  "gymnasium[all]" \
  "stable-baselines3[extra]" \
  tensorboard \
  ale-py

## For GPU support --> pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu128
## To solve ssl match issue --> pip install backports.ssl_match_hostname
## To install airsim --> pip install --no-build-isolation airsim


## Python3.11 
## --> To install in wsl ubuntu20 virtual environment

# build python3.11 from source

cd ~
sudo apt install build-essential zlib1g-dev libncurses5-dev libgdbm-dev libnss3-dev libssl-dev libreadline-dev libffi-dev libsqlite3-dev wget libbz2-dev liblzma-dev -y
wget https://www.python.org/ftp/python/3.11.9/Python-3.11.9.tgz
tar -xf Python-3.11.9.tgz
cd Python-3.11.9
./configure --enable-optimizations

make -j12
sudo make altinstall


After it finishes:
python3.11 --version
python3.11 -m ensurepip --upgrade

sudo apt update
sudo apt install -y build-essential cmake pkg-config \
    libgl1-mesa-dev libosmesa6-dev libglfw3 libglfw3-dev \
    libglew-dev libx11-dev libxrandr-dev libxi-dev libxinerama-dev \
    libxcursor-dev libfreetype6-dev libssl-dev zlib1g-dev \
    libbz2-dev liblzma-dev

pip install --upgrade pip setuptools setuptools_scm wheel build
pip install swig

pip install --no-build-isolation \
  "gymnasium[all]" \
  "stable-baselines3[extra]" \
  tensorboard \
  ale-py

# Use this if you encounter numpy error
pip install airsim --no-build-isolation

# Use this patch if you encounter module 'Collections' has no attribute 'MutableMapping' when using dronekit
sed -i 's/collections.MutableMapping/collections.abc.MutableMapping/g' ~/airsim/airsimcode/lib/python3.11/site-packages/dronekit/__init__.py


## For GPU support --> pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu128
## To solve ssl match issue --> pip install backports.ssl_match_hostname
## To install airsim --> pip install --no-build-isolation airsim



